@charset "utf-8";
/*

Original Author: Derek Dombek
Date Created:08-22-19
Version:main styles
Date Last Modified:10-16-19
Modified by:Derek Dombek
Modification log: made the mobile and table versions more up-to-date. added a lot of styling
for my new portfolio page look. add flex, hover effects, while custom adding those features to each media query.

 
*/

@font-face {
  font-family: 'CaviarDreams';
  src: url('../fonts/CaviarDreams-webfont.eot');
  src: url('../fonts/CaviarDreams-webfont.eot') format('embedded-opentype'),
      url('../fonts/CaviarDreams-webfont.svg') format('svg'),
        url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
        url('../fonts/CaviarDreams-webfont.woff') format('woff');
  font-weight: normal;
}
@media (max-width: 641px) and (min-width:100px) {
      
      html {
        
        background-color: #e5f3f5;
        background: linear-gradient(
              to bottom,
              rgba(206, 206, 206, 0),
              rgba(10,5,10, 30)
            ),url(../images/IMG_1183.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover; 
        margin: 0;
        padding:0;
        height: 100%;
        box-sizing: border-box;
        
      }


      body {
       
        margin: 0;
        font-family: CaviarDreams, cursive;
      }


      #outerwrap {
        margin-top: 200px;
      }
      .mainlogo {
        z-index: 500;
        display: block;
        position: fixed;
        float: left;
        height: 100px;
        width: 150px;
        
        left: 20px;
      }
      
      div#countdown {
        font-size: 30px;
        margin-bottom: 4%;
        
  
      }
      div#countdown span {
        color: blue;
  
      }
      .secondMain p {
        font-size: 20px;
  
      }
      .secondMain h1 {
        color: #000;
  
      }

      h1 {
        color: white;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
        text-transform: none;
        margin-top: 40px;
      }
      #aboutmewriting h1{
        color: black;
        margin-top: 2px;
      }
      #aboutmewriting {
        border: 2px solid #57b1dc;
        border-radius: 30px;
        width: 50%;
        margin: auto auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 40px;
        padding-top: 20px;
      }

      #border-bottom {
        margin-left: 30%;
        margin-right: 30%;
        border-bottom: 2px solid #57b1dc;
      }
      .hamburger span a img {
        width: 40px;
        height: 40px;
      }
      .hamburger {
        visibility: visible !important;
        margin: 32px 10% 25px 0;
        float: right;
        position: relative;
        display: block;
        top: 5%;
      }
      nav.hamburger-content ul{
        margin-left: -30px;
      }
  
      nav.hamburger-content ul li {
        padding: 4px;
        margin-left: -8px;
      }
  
      .hamburger-content a {
        text-decoration: none;
      }
  
      .hamburger-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        left: -10px;
        z-index: 1;
        
      }
  
      .hamburger:hover .hamburger-content {
        display: block;
      }
  
      .topbar {
        background-color: rgba(51, 51, 51, 0.959);
        position: fixed; 
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        margin-bottom: 0 ;
        z-index: 400;
        transition: .1s;
        box-shadow: 5px 5px 50px rgb(0, 0, 0);
      }



      #main-menu a {
        visibility:hidden;
        box-sizing: border-box;
        float: right;
        
        color: #f2f2f2;  
        text-align: center;
        padding-top: 0;
        padding: 20px 30px;
        padding-bottom: 20px;
        margin-right: 20px;
        margin-top: 0;
        text-decoration: none;
      
      }
      

      #main-menu a:hover {
        background: #ddd;
        color: black;
        
        border-bottom-left-radius: 18%;
        border-bottom-right-radius: 18%;
        border-top-left-radius: 18%;
        border-top-right-radius: 18%;
      }
      
      table, tbody, thead, tfoot, th, tr, td {
        display: block;
      }
   
      .firstMain {
      align-content: center; 

      font-family: 'Raleway', sans-serif;
      padding-top: 1px;
      padding-left: 50px;
      padding-right: 50px;

      padding-bottom: 100px;
        
      }

      .portfoliologotop {
        position: inherit;
        
        margin: auto auto;
      }


      .secondMain {
        z-index: 600;
        background-color: white;
        position: inherit;
        
        left:0;
        right: 0;
        width: 100%;
        margin: auto auto;
        text-align: center;
        padding-top: 20%;
        padding-bottom: 20%;

        box-shadow: 5px 5px 40px rgb(0, 0, 0);
      }
      .folioContainer {
        width: 200px;
        
        background: #fff;
        margin: 80px 1px 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: column;
      }
      .folioContainer .box {
        position: relative;
        width: 200px;
        height: 150px;
        
        margin: 15px;
        box-sizing: border-box;
        display: inline-block;
        box-shadow: 3px 3px 10px rgb(0, 0, 0);
        border-radius: 10px;
      }
      .folioContainer .box .imgBox {
        position: relative;
        
        
      }
      .folioContainer .box .imgBox img{
        max-width: 100%;
        max-height: 100%;
        -webkit-transition: .5s; /* Safari */
      -webkit-transition-timing-function: ease-out; /* Safari */
      transition: .5s;
      transition-timing-function: ease-out;
      border-radius: 10px;
      }
      .folioContainer .box:hover .imgBox img{
        opacity: .1;
      }
      
      .folioContainer .box .projectTitle {
        position: absolute;
        top: 6px;
        left: 6px;
        
        right: 10px;
        opacity: 0;
        -webkit-transition: .5s; /* Safari */
      -webkit-transition-timing-function: ease-in; /* Safari */
      transition: .3s;
      transition-timing-function: ease-in;
      }
      .folioContainer .box:hover .projectTitle {
        opacity: 5;
      }
      .folioContainer .box .projectTitle .content {
        position: absolute;
        font-weight: 700;
        left: 10px;
      }
      .folioContainer .box .projectTitle .contentGame {
        position: absolute;
        font-weight: 700;
        left: 6px;
      }
      .folioContainer .box .projectTitle .contentConvert{
        position: absolute;
        font-weight: 700;
        left: .5px;
      }
      .folioContainer .box .projectTitle .content2 {
        position: absolute;
        top:70px;
        left: 28px;
      }
      .folioContainer .box .projectTitle .content .bobsLang {
        padding-left: 5px;
        color: rgb(226, 134, 59);
      }
      .folioContainer .box .projectTitle .contentGame .bobsLang {
        padding-left: 6px;
        color: rgb(226, 134, 59);
      }
      .folioContainer .box .projectTitle .contentConvert .bobsLang {
        padding-left: 8px;
        color: rgb(226, 134, 59);
      }
      .folioContainer .box .projectTitle .content2 button {
        background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 4px;
      
    }
    .folioContainer .box .projectTitle .content2 button {
      background-color: white;
      color: black;
      border: 2px solid #555555;
      left: 10px;
    }
    .folioContainer .box .projectTitle .content2 button:hover {
      background-color: #555555;
      color: white;
    }
    #sectionborder2 {
      
      border: 2px solid #57b1dc;
      border-radius: 30px;
      width: 235px;
      margin: auto auto;
      padding-left: 8%;
      padding-right: 8%;
      padding-bottom: 40px;
      padding-top: 1px;
      
    }
      .thirdsection{
        margin-top: 40px;
      }
      /*contact form*/
      .fieldset { 
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
      }

      .radiocontainer {
        margin-left: 15%;
      }
      
      .radiocontainer label {
        color: rgb(211, 135, 135)
      }
      .checkcontainer label {
        color: rgb(211, 135, 135)
      }

      .contactbox{
        width: 80%;
        margin: auto auto;
        background:rgba(51, 51, 51, 0.801);
        color: #fff;


        box-shadow: 2px 2px 80px rgb(0, 0, 0);
        border-radius: 60px;
        box-sizing: border-box;
        padding: 5% 5%;
      }


      .contactbox h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
      }

      .contactbox p{
        margin: 0;
        padding: 0;
        font-weight: bold;
      }
      textarea {
        width: 70%;
        
      }

      .contactbox input {
        width: 50%;
        margin-bottom: 20px;
        font-family: 'Raleway', sans-serif;
      }

      .contactbox input[type="text"], input[type="email"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 16px;
      }

      .contactbox textarea[type="comment"] {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
      }
      .contactbox input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: #57b1dc;
        color: #fff;
        font-size: 18px;
        width:25%;
        border-radius: 20px;
      }
      .contactbox input[type="submit"]:hover {
        cursor: pointer;
        background: rgb(226, 134, 59);
        color: #000;
      }

      #lowertext {
        font-size: 10px;
        font-family: 'Raleway', sans-serif;
      }
      
      /*end contact form*/

      #sectionborder {

        border: 2px solid #57b1dc;
        border-radius: 30px;
        width: 50%;
        margin: auto auto;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 40px;
        padding-top: 20px;
      }

      #sectionborder p {
        margin-top: 13px;
      }
      
      .box .imgBox {
        position: relative;
        max-width: 100%;
      }
      .box .projectTitle {
        position: absolute;
      }

      li {
        list-style-type: none;
        padding-top: 0;
        margin-top: 0;
      }
      .my-picture {
        
        width: 100px;
        margin: auto auto;
        border-radius: 100%;
        margin-bottom: 15px;
        
        
        
      }

      footer {
        position: absolute;
        padding-bottom: 2rem;
        padding-top: 1rem;
        right: 0;
        left: 0;
        text-align: center;
        color: white;
        text-decoration: none;
        
        background-color: rgba(0, 0, 0, 0.445);
        
      }

      footer a {
        text-decoration: none;
        color: white;
      }
      .copyright {
        color: rgb(226, 134, 59);
        
      }

      .copyright:hover {
        text-decoration: underline;
      }

      .containerbackground {
        z-index: 800;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position: fixed;

        border-radius: 15px;
        width: 54px;
        padding-left: 12px;
        background-color: gray;



          opacity: 0.4;
          left: 89%;
        
          padding-top: 150px;
          margin-bottom: -21px;
          bottom: 30%;
      }

      .mediacontainer {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position: fixed;
        left: 90%;
        padding-top: 5px;
        margin-bottom: -20px;
        bottom: 30%;
      }

      .instalogo {
        z-index: 1000;
        height: 50px;
        width: 53px;
        margin-bottom: 5px;
        opacity: 100%;
        margin-left: -8px;
        align-content: center;
      }

      .linkedinlogo {
        z-index: 1000;
        height: 34px;
        width: 36px;
        margin-bottom: 8px;
        opacity: 3;
        
        align-content: center;
      }

      .githublogo {
        z-index: 1000;
        height: 35px;
        width: 37px;
        margin-bottom: 8px;
        align-content: center;
        opacity: 3;
      }


      .instalogo:hover {
        opacity: 0.3;
      }
      .linkedinlogo:hover {
        opacity: 0.3;
      }
      .githublogo:hover {
        opacity: 0.3;
      }


      .menulogocontainer {
        
        /* top: 10%; */
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        /* align-content: center; */
        /* margin-bottom: 15%; */
      }




      .menucontainer {
        display: none;
        justify-content: space-around;
        margin-left: 10px;
        margin-bottom: 80px;
      }
      .portfoliologo {
        
  
        transition: transform .7s;
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
            }
            .portfoliologo:hover {
              -ms-transform: scale(1.5); /* IE 9 */
              -webkit-transform: scale(1.5); /* Safari 3-8 */
              transform: scale(1.5); 
            }
    
      
      .aboutmelogo {
            
      
        transition: transform .7s;
        width: 100px;
        height: 100px;
        margin: 0 auto 10px;
            }
            .aboutmelogo:hover {
              -ms-transform: scale(1.5); /* IE 9 */
              -webkit-transform: scale(1.5); /* Safari 3-8 */
              transform: scale(1.5); 
            }
    
      
      .contactmelogo {
            
      
        transition: transform .7s;
        width: 100px;
        height: 100px;
        margin: 0 auto 10px;
            }
            .contactmelogo:hover {
              -ms-transform: scale(1.5); /* IE 9 */
              -webkit-transform: scale(1.5); /* Safari 3-8 */
              transform: scale(1.5); 
            }
    

      .mywork {
        color: white;
      }

      .mystory {
        color: white;
      }

      .contactme {
        color: white;
      }
    }
/*Break Point*/

@media (max-width: 769px) and (min-width:641px) {

    @font-face {
      font-family: 'CaviarDreams';
      src: url('../fonts/CaviarDreams-webfont.eot');
      src: url('../fonts/CaviarDreams-webfont.eot') format('embedded-opentype'),
          url('../fonts/CaviarDreams-webfont.svg') format('svg'),
            url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
            url('../fonts/CaviarDreams-webfont.woff') format('woff');
      font-weight: normal;
    }

    html {
      
      background-color: #e5f3f5;
      background: linear-gradient(
      to bottom,
      rgba(206, 206, 206, 0),
      rgba(10,5,10, 30)
    ),url(../images/IMG_0645.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; 
      margin: 0;
      padding:0;
      height: 100%;
      box-sizing: border-box;
      
    }


    body {
      margin: 0;
      font-family: CaviarDreams, cursive;
    }


    #outerwrap {
      margin-top: 150px;
    }
    .mainlogo {
      
    z-index: 500;
    display: block;
    position: fixed;
    float: left;
    height: 150px;
    width: 200px;
    top: -3px;
    left: 10px;
    }
    div#countdown {
      font-size: 30px;
      margin-bottom: 4%;
      

    }
    div#countdown span {
      color: blue;

    }
    .secondMain p {
      font-size: 20px;

    }
    .secondMain h1 {
      color: #000;

    }

    h1 {
      color: white;
      text-align: center;
      font-family: 'Raleway', sans-serif;
      font-weight: normal;
      text-transform: none;
      margin-top: 80px;
    }

    #border-bottom {
      margin-left: 30%;
      margin-right: 30%;
      border-bottom: 2px solid #57b1dc;
    }
    .hamburger span a img {
      width: 40px;
      height: 40px;
    }
    .hamburger {
      visibility: visible !important;
      margin: 50px 10% 25px 0;
      float: right;
      position: relative;
      display: block;
      top: 5%;
    }
    nav.hamburger-content ul{
      margin-left: -30px;
    }

    nav.hamburger-content ul li {
      padding: 4px;
      margin-left: -8px;
    }

    .hamburger-content a {
      text-decoration: none;
    }

    .hamburger-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      left: -10px;
      z-index: 1;
      
    }

    .hamburger:hover .hamburger-content {
      display: block;
    }


    .topbar {
      background-color: rgba(51, 51, 51, 0.959);
      position: fixed; 
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 25px;
      padding-top: 3px;
      z-index: 400;
      transition: .1s;
      box-shadow: 5px 5px 50px rgb(0, 0, 0);
    }
    #aboutmewriting h1{
      color: black;
      margin-top: 2px;
    }
    #aboutmewriting {
      border: 2px solid #57b1dc;
      border-radius: 30px;
      width: 50%;
      margin: auto auto;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 40px;
      padding-top: 20px;
    }


    #main-menu a {
      visibility:hidden !important;
      box-sizing: border-box;
      float: right;
      
      color: #f2f2f2;  
      text-align: center;
      padding-top: 0;
      padding: 20px 30px;
      padding-bottom: 20px;
      margin-right: 20px;
      margin-top: 0;
      text-decoration: none;
    
      
    }


    #main-menu a:hover {
      background: #ddd;
      color: black;
      
      border-bottom-left-radius: 18%;
      border-bottom-right-radius: 18%;
      border-top-left-radius: 18%;
      border-top-right-radius: 18%;
    }
    
    table, tbody, thead, tfoot, th, tr, td {
      display: block;
    }
 

    .firstMain {
    align-content: center; 

    font-family: 'Raleway', sans-serif;
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 100px;
      
    }

    .portfoliologotop {
      position: inherit;
      
      margin: auto auto;
    }


    .secondMain {
      z-index: 600;
      background-color: white;
      position: relative;
      margin-left: 0;
      left:0;
      right: 0;
      width: 100%;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 5%;
    
      box-shadow: 5px 5px 40px rgb(0, 0, 0);
    }
    .folioContainer {
      width: 400px;
      max-width: 100%;
      background: #fff;
      margin: 80px 90px 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .folioContainer .box {
      position: relative;
      width: 300px;
      height: 199px;
      
      margin: 15px;
      box-sizing: border-box;
      display: inline-block;
      box-shadow: 3px 3px 10px rgb(0, 0, 0);
      border-radius: 10px;
    }
    .folioContainer .box .imgBox {
      position: relative;
      
      
    }
    .folioContainer .box .imgBox img{
      max-width: 100%;
      max-height: 100%;
      -webkit-transition: .5s; /* Safari */
    -webkit-transition-timing-function: ease-out; /* Safari */
    transition: .5s;
    transition-timing-function: ease-out;
    border-radius: 10px;
    }
    .folioContainer .box:hover .imgBox img{
      opacity: .1;
    }
    
    .folioContainer .box .projectTitle {
      position: absolute;
      top: 50px;
      left: 50px;
      
      right: 10px;
      opacity: 0;
      -webkit-transition: .5s; /* Safari */
    -webkit-transition-timing-function: ease-in; /* Safari */
    transition: .3s;
    transition-timing-function: ease-in;
    }
    .folioContainer .box:hover .projectTitle {
      opacity: 5;
    }
    .folioContainer .box .projectTitle .content {
      position: absolute;
      font-weight: 900;
      left: 10px;
    }
    .folioContainer .box .projectTitle .contentGame {
      position: absolute;
      font-weight: 900;
      left: 6px;
    }
    .folioContainer .box .projectTitle .contentConvert{
      position: absolute;
      font-weight: 900;
      left: .5px;
    }
    .folioContainer .box .projectTitle .content2 {
      position: absolute;
      top:70px;
      left: 28px;
    }
    .folioContainer .box .projectTitle .content .bobsLang {
      padding-left: 5px;
      color: rgb(226, 134, 59);
    }
    .folioContainer .box .projectTitle .contentGame .bobsLang {
      padding-left: 6px;
      color: rgb(226, 134, 59);
    }
    .folioContainer .box .projectTitle .contentConvert .bobsLang {
      padding-left: 8px;
      color: rgb(226, 134, 59);
    }
    .folioContainer .box .projectTitle .content2 button {
      background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    
  }
  .folioContainer .box .projectTitle .content2 button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    left: 20px;
  }
  .folioContainer .box .projectTitle .content2 button:hover {
    background-color: #555555;
    color: white;
  }
  #sectionborder2 {
    
    border: 2px solid #57b1dc;
    border-radius: 30px;
    width: 500px;
    margin: auto auto;
    padding-left: 5%;
    padding-right: 6%;
    padding-bottom: 80px;
    padding-top: 10px;
    
  }
    .thirdsection{
      margin-top: 80px;
    }
    /*contact form*/
    .radiocontainer {
      margin-left: 15%;
    }
    label {
      color: rgb(211, 135, 135)
    }

    .contactbox{
      width: 60%;
      margin: auto auto;
      background:rgba(51, 51, 51, 0.801);
      color: #fff;
    

      box-shadow: 2px 2px 80px rgb(0, 0, 0);
      border-radius: 60px;
      box-sizing: border-box;
      padding: 5% 5%;
    }


    .contactbox h1{
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }

    .contactbox p{
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
    textarea {
      width: 70%;
      
    }

    .contactbox input {
      width: 50%;
      margin-bottom: 20px;
      font-family: 'Raleway', sans-serif;
    }

    .contactbox input[type="text"], input[type="email"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      font-family: 'Raleway', sans-serif;
      color: #fff;
      font-size: 16px;
    }

    .contactbox textarea[type="comment"] {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
    }
    .contactbox input[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #57b1dc;
      color: #fff;
      font-size: 18px;
      width:25%;
      border-radius: 20px;
    }
    .contactbox input[type="submit"]:hover {
      cursor: pointer;
      background: rgb(226, 134, 59);
      color: #000;
    }

    #lowertext {
      font-size: 10px;
      font-family: 'Raleway', sans-serif;
    }
    /*end contact form*/

    #sectionborder {
    
      border: 2px solid #57b1dc;
      border-radius: 30px;
      width: 50%;
      margin: auto auto;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 40px;
      padding-top: 20px;
    }

    #sectionborder p {
      margin-top: 13px;
    }



    li {
      list-style-type: none;
      padding-top: 0;
      margin-top: 0;
    }
    .my-picture {
      
      width: 200px;
      margin: auto auto;
      border-radius: 100%;
      margin-bottom: 15px;
      
      
      
    }

    footer {
      position: absolute;
      padding-bottom: 2rem;
      padding-top: 1rem;
      right: 0;
      left: 0;
      text-align: center;
      color: white;
      text-decoration: none;
      
      background-color: rgba(0, 0, 0, 0.445);
      
    }

    footer a {
      text-decoration: none;
      color: white;
    }
    .copyright {
      color: rgb(226, 134, 59);
      
    }

    .copyright:hover {
      text-decoration: underline;
    }

    .containerbackground {
      z-index: 800;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      position: fixed;

      border-radius: 15px;
      width: 54px;
      padding-left: 12px;
      background-color: gray;


    
        opacity: 0.4;
        left: 93%;
      
        padding-top: 150px;
        margin-bottom: -21px;
        bottom: 30%;
    }

    .mediacontainer {
      z-index: 1000;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      position: fixed;
      left: 94%;
      padding-top: 5px;
      margin-bottom: -20px;
      bottom: 30%;
    }

    .instalogo {
      z-index: 1000;
      height: 50px;
      width: 53px;
      margin-bottom: 5px;
      opacity: 100%;
      margin-left: -8px;
      align-content: center;
    }

    .linkedinlogo {
      z-index: 1000;
      height: 34px;
      width: 36px;
      margin-bottom: 8px;
      opacity: 3;
      
      align-content: center;
    }

    .githublogo {
      z-index: 1000;
      height: 35px;
      width: 37px;
      margin-bottom: 8px;
      align-content: center;
      opacity: 3;
    }


    .instalogo:hover {
      opacity: 0.3;
    }
    .linkedinlogo:hover {
      opacity: 0.3;
    }
    .githublogo:hover {
      opacity: 0.3;
    }


    .menulogocontainer {
      display: flex;
      justify-content: space-around;
      margin-bottom: 15%;
      
    }




    .menucontainer {
      display: flex;
      justify-content: space-around;
      margin-left: 10px;
      margin-bottom: 50px;
    }
    .portfoliologo {
        
  
      transition: transform .7s;
      width: 200px;
      height: 200px;
      margin: 0 auto;
          }
          .portfoliologo:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5); 
          }
  
    
    .aboutmelogo {
          
    
      transition: transform .7s;
      width: 200px;
      height: 200px;
      margin: 0 auto;
          }
          .aboutmelogo:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5); 
          }
  
    
    .contactmelogo {
          
    
      transition: transform .7s;
      width: 200px;
      height: 200px;
      margin: 0 auto;
          }
          .contactmelogo:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5); 
          }
  

    .mywork {
      color: white;
    }

    .mystory {
      color: white;
    }

    .contactme {
      color: white;
    }
}
@media (min-width:769px) {

  @font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams-webfont.eot');
    src: url('../fonts/CaviarDreams-webfont.eot') format('embedded-opentype'),
        url('../fonts/CaviarDreams-webfont.svg') format('svg'),
          url('../fonts/CaviarDreams-webfont.ttf') format('truetype'),
          url('../fonts/CaviarDreams-webfont.woff') format('woff');
    font-weight: normal;
  }

  html {
    
    background-color: #e5f3f5;
    background: linear-gradient(
      to bottom,
      rgba(206, 206, 206, 0),
      rgba(10,5,10, 30)
    ),url(../images/IMG_0645.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin: 0;
    padding:0;
    height: 100%;
    box-sizing: border-box;
    
  }


  body {
    margin: 0;
    font-family: CaviarDreams, cursive;
  }

h1#resources {
  margin-top: 15%;
}
  #outerwrap {
    margin-top: 150px;
  }
  .mainlogo {
    z-index: 500;
    display: block;
    position: fixed;
    float: left;
    height: 150px;
    width: 200px;
    top: -18px;
    left: 5px;
  }
  /*clock styles*/
    div#countdown {
      font-size: 30px;
      margin-bottom: 4%;
      

    }
    div#countdown span {
      color: blue;

    }
    .secondMain p {
      font-size: 20px;

    }
    .secondMain h1 {
      color: #000;

    }
    

  h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-transform: none;
    margin-top: 80px;
  }

  #border-bottom {
    margin-left: 30%;
    margin-right: 30%;
    border-bottom: 2px solid #57b1dc;
  }
  .hamburger {
    display: none !important;
    margin-left: 50%;
    position: relative;
    display: inline-block;
    
  }
  .hamburger a {
    text-decoration: none;
  }

  .hamburger-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
  }
  #aboutmewriting h1{
    color: black;
    margin-top: 2px;
  }
  #aboutmewriting {
    border: 2px solid #57b1dc;
    border-radius: 30px;
    width: 50%;
    margin: auto auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .hamburger:hover .hamburger-content {
    display: block;
  }

  .topbar {
    background-color: rgba(51, 51, 51, 0.959);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 29px;
    padding-top: 29px;
    z-index: 400;
    transition: .1s;
    box-shadow: 5px 5px 50px rgb(0, 0, 0);
  }



  #main-menu a {
    visibility:visible;
    box-sizing: border-box;
    float: right;
    
    color: #f2f2f2;  
    text-align: center;
    padding-top: 0;
    padding: 20px 30px;
    padding-bottom: 20px;
    margin-right: 20px;
    margin-top: 0;
    text-decoration: none;
  
    
  }


  #main-menu a:hover {
    background: #ddd;
    color: black;
    
    border-bottom-left-radius: 18%;
    border-bottom-right-radius: 18%;
    border-top-left-radius: 18%;
    border-top-right-radius: 18%;
  }

  .firstMain {
  align-content: center; 

  font-family: 'Raleway', sans-serif;
  padding-top: 1px;
  padding-left: 50px;
  padding-right: 50px;

  padding-bottom: 100px;
    
  }

  .portfoliologotop {
    position: inherit;
    
    margin: auto auto;
  }
  


  .secondMain {
    z-index: 600;
    background-color: white;
    position: relative;
    margin-left: 0;
    left:0;
    right: 0;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
   
  
  
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
  }
  .folioContainer {
    width: 700px;
    
    background: #fff;
    margin: 80px 60px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .folioContainer .box {
    position: relative;
    width: 300px;
    height: 199px;
    
    margin: 15px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    border-radius: 10px;
  }
  .folioContainer .box .imgBox {
    position: relative;
    
    
  }
  .folioContainer .box .imgBox img{
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: .5s; /* Safari */
  -webkit-transition-timing-function: ease-out; /* Safari */
  transition: .5s;
  transition-timing-function: ease-out;
  border-radius: 10px;
  }
  .folioContainer .box:hover .imgBox img{
    opacity: .1;
  }
  
  .folioContainer .box .projectTitle {
    position: absolute;
    top: 50px;
    left: 50px;
    
    right: 10px;
    opacity: 0;
    -webkit-transition: .5s; /* Safari */
  -webkit-transition-timing-function: ease-in; /* Safari */
  transition: .3s;
  transition-timing-function: ease-in;
  }
  .folioContainer .box:hover .projectTitle {
    opacity: 5;
  }
  .folioContainer .box .projectTitle .content {
    position: absolute;
    font-weight: 900;
    left: 10px;
  }
  .folioContainer .box .projectTitle .contentGame {
    position: absolute;
    font-weight: 900;
    left: 6px;
  }
  .folioContainer .box .projectTitle .contentConvert{
    position: absolute;
    font-weight: 900;
    left: .5px;
  }
  .folioContainer .box .projectTitle .content2 {
    position: absolute;
    top:70px;
    left: 28px;
  }
  .folioContainer .box .projectTitle .content .bobsLang {
    padding-left: 5px;
    color: rgb(226, 134, 59);
  }
  .folioContainer .box .projectTitle .contentGame .bobsLang {
    padding-left: 6px;
    color: rgb(226, 134, 59);
  }
  .folioContainer .box .projectTitle .contentConvert .bobsLang {
    padding-left: 8px;
    color: rgb(226, 134, 59);
  }
  .folioContainer .box .projectTitle .content2 button {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  
}
.folioContainer .box .projectTitle .content2 button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  left: 20px;
}
.folioContainer .box .projectTitle .content2 button:hover {
  background-color: #555555;
  color: white;
}
#sectionborder2 {
  
  border: 2px solid #57b1dc;
  border-radius: 30px;
  width: 750px;
  margin: auto auto;
  padding-left: 5%;
  padding-right: 6%;
  padding-bottom: 80px;
  padding-top: 10px;
  
}
  .thirdsection{
    margin-top: 80px;
  }
  /*contact form*/
  .radiocontainer {
    margin-left: 15%;
  }
  
  label {
    color: rgb(211, 135, 135)
  }
  .contactbox{
    width: 60%;
    margin: auto auto;
    background:rgba(51, 51, 51, 0.801);
    color: #fff;
  

    box-shadow: 2px 2px 80px rgb(0, 0, 0);
    border-radius: 60px;
    box-sizing: border-box;
    padding: 5% 5%;
  }


  .contactbox h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }

  .contactbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  textarea {
    width: 70%;
    
  }

  .contactbox input {
    width: 50%;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
  }

  .contactbox input[type="text"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 16px;
  }

  .contactbox textarea[type="comment"] {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
  }
  .contactbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #57b1dc;
    color: #fff;
    font-size: 18px;
    width:25%;
    border-radius: 20px;
  }
  .contactbox input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(226, 134, 59);
    color: #000;
  }

  #lowertext {
    
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
  }
  /*end contact form*/

  #sectionborder {
  
    border: 2px solid #57b1dc;
    border-radius: 30px;
    width: 50%;
    margin: auto auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  #sectionborder p {
    margin-top: 13px;
  }



  li {
    list-style-type: none;
    padding-top: 0;
    margin-top: 0;
  }
  .my-picture {
    
    width: 200px;
    margin: auto auto;
    border-radius: 100%;
    margin-bottom: 15px;
    
    
    
  }

  footer {
    position: absolute;
    padding-bottom: 2rem;
    padding-top: 1rem;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    text-decoration: none;
    
    background-color: rgba(0, 0, 0, 0.445);
    
  }

  footer a {
    text-decoration: none;
    color: white;
  }
  .copyright {
    color: rgb(226, 134, 59);
    
  }

  .copyright:hover {
    text-decoration: underline;
  }

  .containerbackground {
    z-index: 800;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;

    border-radius: 15px;
    width: 54px;
    padding-left: 12px;
    background-color: gray;


  
      opacity: .8;
      left: 93%;
    
      padding-top: 150px;
      margin-bottom: -21px;
      bottom: 30%;
  }

  .mediacontainer {
    z-index: 1500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: fixed;
    left: 94%;
    padding-top: 5px;
    margin-bottom: -20px;
    bottom: 30%;
  }

  .instalogo {
    z-index: 1000;
    height: 50px;
    width: 53px;
    margin-bottom: 5px;
    opacity: 100%;
    margin-left: -8px;
    align-content: center;
  }

  .linkedinlogo {
    z-index: 1000;
    height: 34px;
    width: 36px;
    margin-bottom: 8px;
    opacity: 10;
    
    align-content: center;
  }

  .githublogo {
    z-index: 1000;
    height: 35px;
    width: 37px;
    margin-bottom: 8px;
    align-content: center;
    opacity: 3;
  }


  .instalogo:hover {
    opacity: 0.3;
  }
  .linkedinlogo:hover {
    opacity: 0.3;
  }
  .githublogo:hover {
    opacity: 0.3;
  }


  .menulogocontainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15%;
    
  }




  .menucontainer {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .portfoliologo {
        
  
    transition: transform .7s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
        }
        .portfoliologo:hover {
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); /* Safari 3-8 */
          transform: scale(1.5); 
        }

  
  .aboutmelogo {
        
  
    transition: transform .7s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
        }
        .aboutmelogo:hover {
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); /* Safari 3-8 */
          transform: scale(1.5); 
        }

  
  .contactmelogo {
        
  
    transition: transform .7s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
        }
        .contactmelogo:hover {
          -ms-transform: scale(1.5); /* IE 9 */
          -webkit-transform: scale(1.5); /* Safari 3-8 */
          transform: scale(1.5); 
        }

  .mywork {
    color: white;
  }

  .mystory {
    color: white;
  }

  .contactme {
    color: white;
  }
}