# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# environment variables
.env
.env.production

# macOS / Windows cruft
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
